body{
    margin: 0;
}

#shutter1 {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #000;
    display: flex;
    align-items: center;
}

#lazer {
  width: 100%;
  height: 4px;
  background-color: white;
  color: white;
  animation: none;
  transform: translateX(100%);
}
  
@keyframes lazer{
    10%{
        transform: translateX(0%);
    }
    30%{
        transform: scaleY(30%);
        opacity: 0.1;
    }
    100%{
        transform: scaleY(18000%);
        opacity: 1;
    }
}

#shutter2{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 8999;
    background-color: #dbdada;
    text-align: center;
    animation: none;
}

#s-logo{
    margin: auto;
    animation: none;
    opacity: 0;
}

#meteor{
    width: 100px;
    height: auto;
    position: fixed;
    z-index: 8899;
    animation: none;
    opacity: 0;
}

@keyframes scale-change{
    0%{
        scale: 0%;
        opacity: 1;
    }

    50%{
        scale: 10%;
    }

    70%{
        scale: 195%;
    }

    100%{
        scale: 200%;
        opacity: 1;
    }
}

@keyframes ryusei{
    0%{
        left: -100%;
        top: -100%;
        opacity: 1;
    }
    100%{
        left: 120%;
        top: 100%;
        opacity: 1;
    }
}